---
layout: landing-default
---

<video loop="loop" autoplay="autoplay" width="100%" class="header__video">
  <source src="https://cdn.evilmartians.com/front/blocks/header/videos/em-bg-video-3fe4adf.mp4" />
  <source src="https://cdn.evilmartians.com/front/blocks/header/videos/em-bg-video-0ce3d13.ogv" />
</video>

<div class="header-overlay">
</div>

<div class="header-text">
  <h1 class="page__title">
    Orel developers community
  </h1>
  <p class="page__lead">
    We are community of developers. Every month we do free meetups.
  </h2>
</div>
